
.doctorlist li{
  display: inline-block;
  padding: 10px;
}
.fotodoctor{
  background: url('https://goo.gl/8mDtJQ');
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 4px #2cd3b4, 0 -2px 4px #3d72aa;
  border-radius: 100%;
  position: relative;
  left: 28px;
}

.description{
  width: 350px;
  height: 300px;
  box-shadow: 1px 2px 4px #2cd3b4, -1px 2px 4px #3d72aa;
  position: relative;
  top: -80px;
  z-index: -1;
  padding:84px 2px 0 2px;
  text-align: center;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px;
  padding: 10px;
  text-align: justify;
}