*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-color: white;
 /*background-image: linear-gradient(rgb(36,35,72),rgb(77,73,142));*/
 font-family:"Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  width: 100%;
 
}
.edit button{
  font-size: 25px;
  background: none;
  border: 0;
  
  margin-top: 7px;
    margin-left: 23px;
  float: left;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
    font-style: normal;
    font-family: Arial;
}
.edit button a{
  text-decoration: none;
  color: white;
}


.connect ul{
  display: inline;
}
.connect {
  margin-top: 13px;
  margin-right: 10px;
  float: right;
}
.connect li{
  display: inline;
 cursor: pointer;
  padding: 10px;
  font-weight: bolder;
  font-style: normal;
  font-family:Arial;
}
.connect a{
  color: white;
  text-decoration: none;
}


.foto {
  min-height: 400px;
  
  background-image:linear-gradient(rgba(5, 4, 4, 0.788),rgba(0, 0, 0, 0.4)),url("../img/back1.jpg");   
  background-position: 100%;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif ;
  font-style: italic;
  width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 42px;
}
.foto a:hover{
  border-bottom: 3px solid rgb(168, 168, 168);
  transition: .3s ;
  font-weight:bold;
  font-size: 22px;
}

.foto h1{
  margin-top: 10%;
 
  font-size: 55px;
  margin-bottom: 10px;
}

.foto p {
  font-size:20px ;
}

.contact{
  padding-top: 43px;
  padding-bottom: 43px;
  color: white;
  /* background-image: linear-gradient(rgb(52, 52, 61),rgb(131, 128, 180)); */
  background-image: linear-gradient(rgb(229, 228, 230),rgb(255,255,255)) ;
  color: black;
height: 100px;
  width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 42px;
    margin-bottom: 20px;
}
.contact h1{
  float: left;
}

button.logout{
  color: white;
  text-decoration: none;
  background-color: transparent;
 cursor: pointer;
  padding: 10px;
  border: none;
  font-weight: bolder;
  font-size: 25px;
  font-style: normal;
  font-family:Arial;
}
button.logout:hover{
  border-bottom: 3px solid rgb(168, 168, 168);
  transition: .3s ;
  font-weight:bold;
  font-size: 22px;
}
.contact input[type="text"]{
  text-align: center;
  border-radius: 25px;
  padding: 4px;
  height: 45px;
  width: 250px;
}
.contact button{
  width: 200px;
  padding: 4px;
  border-radius: 25px;
  text-align: center;
  background-color: rgb(104, 93, 124);
  color: white;
}
.talk{
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 2%;
  position: relative;
  margin-left: 27%;
  

}
.userinfo table{
position: relative;
margin-left: auto;
margin-right: auto;
}
.talk p {
  font-size: 26px;
  font-weight: bold;
}
ul.email{
  width: 50%;

  float: left;
  text-align: center;
  margin-top: 2%;
  position: relative;
  margin-left: 27%;
}
.email li {
  padding: 3px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
.send{

text-align: center;
border-radius: 25px;
margin-top: 5px;
height: 25px;
width: 90px;
}
.tel{
  color: white;
  width: 7%;
  margin-right: auto;
  margin-left: auto ;
  border-radius: 30px;
  margin-top: -12px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: none;
  padding: 3px;
  background-color: rgb(255, 255, 255);
}
.foto ul {
  display: inline;
}
.tele{
  width: 70px;
  font-size: 35px;
  color: white;
  padding:0 15px 15px 15px;
}
.callul li{
  display: inline;
}

.rrethnesh{ 
  /* background-color: white; */
  background-image: linear-gradient(rgb(255,255,255),rgb(229, 228, 230)) ;
  

  text-align: center;
  width: 85%;
  
    margin-left: auto;
    margin-right: auto;
    border-radius: 42px;
    margin-bottom: 20px;
}
.rrethnesh h1,h2{
  color:black;
  font-size: 25px;
  
  padding: 12px;
  margin-left: auto;
    margin-right: auto;
}
.rrethnesh ul{
  font-size: 20px;
  color: #494949;
  
 
}
.rrethnesh ul li{
  padding: 7px;
  text-align: left;
  color: black;
  margin-left: 0px;
  margin-left: 19px;
 
}
.rrethnesh p{
  color: white;
}
.container2{
  width: 100%;
  /*background-color: #b1aab1;*/
  margin-bottom:20px;
  overflow: hidden;
  border-radius: 43px;
}
.container{
  width: 100%;

  margin-bottom:20px;
  overflow: hidden;
  border-radius: 43px;
}
.container p{
  color: white;
}
div.drejtat {
  
  padding-bottom: 30px;
  border-radius: 43px;
}

@media (max-width:900px) {
  .contact{
  
      display: block;
      height: 200px;
  }
  .talk{
    width: 100%;
    height: 80px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .email{
    
    height: 80px;
    position: relative;
    margin-right: 24%;
    
  }
  /* input[type="text"] {
      margin-left: 154px;
  } */
  .thumbs a {
    margin-left: 3%;
    margin-top: 20px;
}
}
@media (max-width: 375px){
.contact{
  
  display: block;
  height: 200px;
}
.talk{
width: 100%;
height: 80px;
position: relative;
margin-left: auto;
margin-right: auto;
}
.email{

height: 80px;
position: relative;
margin-right: 24%;

}
/* input[type="text"] {
  margin-left: 154px;
} */
.thumbs a {
margin-left: 3%;
margin-top: 20px;
}
}
div.section2{
  position: relative;
    margin-left: auto;
    margin-right: auto;
      
    color: white;
    
    font-size: 28px;
    font-weight: bold;
}
div.main{
  border-radius: 26px;
  padding: 37px;   
  width: 100%;
  background-color: #85a9ae;
}







