.doctorlist li{
    display: inline-block;
    padding: 40px;
   
  }
  .fotodoctor{
    background: url(image1.jpg);
    width: 300px;
    height: 300px;
    box-shadow: 0 2px 4px #2cd3b4, 0 -2px 4px #3d72aa;
    border-radius: 100%;
    position: relative;
    left: 8px;
  }
  
  
  .description{
    width: 300px;
    height: 200px;
    box-shadow: 1px 2px 4px #2cd3b4, -1px 2px 4px #3d72aa;
    position: relative;
    top: -80px;
    padding:84px 3px 0 2px;
    text-align: center;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    padding: 10px;
    text-align: justify;
    margin-left: 50px;
  }